recursos/flowEngine/APIFlow.json
[{"id":"7457100f.8a915","type":"tab","label":"3dMarket","disabled":false,"info":""},{"id":"89a8161c.de20c8","type":"subflow","name":"Get Oauth token","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"981f45de.e6fd18"}]}],"out":[{"x":620,"y":40,"wires":[{"id":"ff4a4eb4.55f4c","port":0}]}],"env":[],"color":"#3FADB5","icon":"font-awesome/fa-user-o"},{"id":"5021ec85.8bc7a4","type":"subflow","name":"Insert Asset","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"55ed59b5.459a58"}]}],"out":[{"x":960,"y":166,"wires":[{"id":"f63d06aa.e4e728","port":0},{"id":"3803d54e.60efda","port":1},{"id":"81b462c1.48234","port":1},{"id":"23110507.84ecca","port":0}]}],"env":[],"color":"#3FADB5","icon":"node-red/file-in.svg"},{"id":"db4e76b0.c369c8","type":"onesaitplatform api rest operation","z":"7457100f.8a915","name":"GetAll","description":"Get all assets","url":"/fc74508579e33/get","apiUrl":"/get","method":"get","upload":false,"queryParams":"{\"skip\":\"Number\",\"limit\":\"Number\"}","swaggerDoc":"","x":250,"y":80,"wires":[["5dddbd1f.cc3104"]]},{"id":"adedfa25.7f60a8","type":"onesaitplatform api rest","z":"7457100f.8a915","name":"Market3D_asset","description":"Market3D asset","public":false,"category":"ALL","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":100,"y":40,"wires":[["db4e76b0.c369c8","6946f77b.8c1788","44a2cd2.6b54734","55c08c2d.d1f254"]]},{"id":"79d1c81f.6b2e18","type":"onesaitplatform api rest operation response","z":"7457100f.8a915","name":"Response","statusCode":"","headers":{},"x":920,"y":80,"wires":[]},{"id":"6946f77b.8c1788","type":"onesaitplatform api rest operation","z":"7457100f.8a915","name":"GetById","description":"Get asset By Id","url":"/529f9bf4f82594/get/:id","apiUrl":"/get/:id","method":"get","upload":false,"queryParams":"","swaggerDoc":"","x":260,"y":140,"wires":[["dfdda8ee.8474b8"]]},{"id":"1eecf41d.d8995c","type":"onesaitplatform api rest operation response","z":"7457100f.8a915","name":"Response","statusCode":"","headers":{},"x":1140,"y":220,"wires":[]},{"id":"cca42776.4f9b58","type":"onesaitplatform-query-dynamic","z":"7457100f.8a915","name":"Select list","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":600,"y":80,"wires":[["4e48e79c.63ee48"]]},{"id":"5dddbd1f.cc3104","type":"function","z":"7457100f.8a915","name":"Prepare query","func":"msg.ontology = 'Marketplace3DAsset';\nmsg.queryType='SQL'\n\nvar limit = msg.req.query.limit;\nvar skip = msg.req.query.skip;\n\n//msg.query='db.Marketplace3DAsset.find({},{\"Marketplace3DAsset.id\":1,\"Marketplace3DAsset.description\":1,\"Marketplace3DAsset.name\":1,\"Marketplace3DAsset.user\":1}).skip('+skip+').limit('+limit+')';\nmsg.query='SELECT c.Marketplace3DAsset.id, c.Marketplace3DAsset.name, c.Marketplace3DAsset.description, c.Marketplace3DAsset.user, c.Marketplace3DAsset.images, avg(m.Marketplace3DComments.rating) as rating, count(m.Marketplace3DComments.comment) as numComments  FROM Marketplace3DAsset as c LEFT OUTER JOIN Marketplace3DComments AS m ON m.Marketplace3DComments.assetId=c.Marketplace3DAsset.id GROUP BY  c.Marketplace3DAsset.id, c.Marketplace3DAsset.name, c.Marketplace3DAsset.description, c.Marketplace3DAsset.user order by c.Marketplace3DAsset.id OFFSET '+skip+' limit '+limit;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["cca42776.4f9b58"]]},{"id":"24de8d6c.29e0c2","type":"onesaitplatform-Rest-API-invoker","z":"7457100f.8a915","name":"GetAllAssets_Pag","outputs":6,"restApiName":"Market3D_asset","restApiVersion":"1","restApiOperationName":"GetAll","restApiOperationMethod":"GET","restApiOperationsLoaded":"[{\"name\":\"GetAll\",\"method\":\"GET\",\"path\":null,\"params\":[{\"name\":\"limit\",\"type\":\"QUERY\"},{\"name\":\"skip\",\"type\":\"QUERY\"}],\"returnMessagesresponseCodes\":{\"200\":\"OK\",\"204\":\"No Content\",\"400\":\"Bad Request\",\"401\":\"Unauthorized\",\"501\":\"Internal Server Error\",\"???\":\"Other status code\"}},{\"name\":\"GetById\",\"method\":\"GET\",\"path\":null,\"params\":[{\"name\":\"id\",\"type\":\"PATH\"}],\"returnMessagesresponseCodes\":{\"200\":\"OK\",\"204\":\"No Content\",\"400\":\"Bad Request\",\"401\":\"Unauthorized\",\"501\":\"Internal Server Error\",\"???\":\"Other status code\"}}]","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","operationInputs":[{"param":"limit","value":"12","type":"str"},{"param":"skip","value":"0","type":"str"}],"timeoutMillis":15000,"x":370,"y":740,"wires":[["ad48c74e.f12238"],["ad48c74e.f12238"],["ad48c74e.f12238"],["ad48c74e.f12238"],["ad48c74e.f12238"],["ad48c74e.f12238"]]},{"id":"2ed97ab0.861326","type":"inject","z":"7457100f.8a915","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":740,"wires":[["24de8d6c.29e0c2"]]},{"id":"ad48c74e.f12238","type":"debug","z":"7457100f.8a915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":740,"wires":[]},{"id":"4e48e79c.63ee48","type":"function","z":"7457100f.8a915","name":"Process result","func":"var result = JSON.parse(msg.payload);\n\nfor(var i =0;i<result.length;i++){\n    if(result[i].rating===null){\n      result[i].numComments=0;  \n    } \n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["79d1c81f.6b2e18"]]},{"id":"e6a7320b.681f6","type":"onesaitplatform-query-dynamic","z":"7457100f.8a915","name":"Select asset","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":610,"y":140,"wires":[["4d1e62e9.7caa9c"]]},{"id":"dfdda8ee.8474b8","type":"function","z":"7457100f.8a915","name":"Prepare query","func":"msg.ontology = 'Marketplace3DAsset';\nmsg.queryType='SQL'\n\nvar id = msg.req.params.id;\n\nmsg.query='SELECT *  FROM Marketplace3DAsset as c where c.Marketplace3DAsset.id=\"'+id+'\"';\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["e6a7320b.681f6"]]},{"id":"4d1e62e9.7caa9c","type":"function","z":"7457100f.8a915","name":"Prepare comments and rating query","func":"\nmsg.asset = JSON.parse(msg.payload);\nif(msg.asset.length === 0){\n    return [null,msg];\n}\nmsg.asset = msg.asset[0].Marketplace3DAsset;\nmsg.ontology = 'Marketplace3DComments';\nmsg.queryType='SQL'\n\nvar id = msg.req.params.id;\n\nmsg.query='SELECT *  FROM Marketplace3DComments as c where c.Marketplace3DComments.assetId=\"'+id+'\"';\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":500,"y":220,"wires":[["58fe9f95.213b2"],["1eecf41d.d8995c"]]},{"id":"58fe9f95.213b2","type":"onesaitplatform-query-dynamic","z":"7457100f.8a915","name":"Select comments","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":770,"y":200,"wires":[["4cacbab3.4bed94"]]},{"id":"4cacbab3.4bed94","type":"function","z":"7457100f.8a915","name":"Process result","func":"\nvar ratings = JSON.parse(msg.payload);\nmsg.asset['ratings'] = ratings;\nmsg.payload = msg.asset;\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":200,"wires":[["1eecf41d.d8995c"]]},{"id":"4ecbaeb5.e437a","type":"onesaitplatform-Rest-API-invoker","z":"7457100f.8a915","name":"GetAssetById","outputs":6,"restApiName":"Market3D_asset","restApiVersion":"1","restApiOperationName":"GetById","restApiOperationMethod":"GET","restApiOperationsLoaded":"[{\"name\":\"GetAll\",\"method\":\"GET\",\"path\":null,\"params\":[{\"name\":\"limit\",\"type\":\"QUERY\"},{\"name\":\"skip\",\"type\":\"QUERY\"}],\"returnMessagesresponseCodes\":{\"200\":\"OK\",\"204\":\"No Content\",\"400\":\"Bad Request\",\"401\":\"Unauthorized\",\"501\":\"Internal Server Error\",\"???\":\"Other status code\"}},{\"name\":\"GetById\",\"method\":\"GET\",\"path\":null,\"params\":[{\"name\":\"id\",\"type\":\"PATH\"}],\"returnMessagesresponseCodes\":{\"200\":\"OK\",\"204\":\"No Content\",\"400\":\"Bad Request\",\"401\":\"Unauthorized\",\"501\":\"Internal Server Error\",\"???\":\"Other status code\"}}]","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","operationInputs":[{"param":"id","value":"0e8b995e-4a7d-4b96-af6b-46ba9cf062ba","type":"str"}],"timeoutMillis":15000,"x":350,"y":880,"wires":[["a4bd3044.c7b2f"],["a4bd3044.c7b2f"],["a4bd3044.c7b2f"],["a4bd3044.c7b2f"],["a4bd3044.c7b2f"],["a4bd3044.c7b2f"]]},{"id":"c840e594.87a078","type":"inject","z":"7457100f.8a915","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":880,"wires":[["4ecbaeb5.e437a"]]},{"id":"a4bd3044.c7b2f","type":"debug","z":"7457100f.8a915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":880,"wires":[]},{"id":"44a2cd2.6b54734","type":"onesaitplatform api rest operation","z":"7457100f.8a915","name":"insert","description":"insert new asset","url":"/b237fbae208668/insert","apiUrl":"/insert","method":"post","upload":true,"queryParams":"","swaggerDoc":"","x":250,"y":280,"wires":[["73d06b96.3030f4"]]},{"id":"4ed345dc.f93f1c","type":"onesaitplatform api rest operation response","z":"7457100f.8a915","name":"Response","statusCode":"","headers":{},"x":940,"y":280,"wires":[]},{"id":"4a5f3602.429568","type":"comment","z":"7457100f.8a915","name":"Test calls for APIs","info":"","x":120,"y":620,"wires":[]},{"id":"3d7fc674.a9f02a","type":"http request","z":"89a8161c.de20c8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://lab.onesaitplatform.com/controlpanel/api/login","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":40,"wires":[["ff4a4eb4.55f4c"]]},{"id":"981f45de.e6fd18","type":"function","z":"89a8161c.de20c8","name":"Set req info","func":"msg.payload = {\n  \"password\": \"Changed2018!\",\n  \"username\": \"rtvachet\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":40,"wires":[["3d7fc674.a9f02a"]]},{"id":"ff4a4eb4.55f4c","type":"function","z":"89a8161c.de20c8","name":"Process result","func":"msg.payload = JSON.parse(msg.payload);\nmsg.access_token = msg.payload.access_token;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":40,"wires":[[]]},{"id":"2beaceff.720de2","type":"catch","z":"7457100f.8a915","name":"","scope":null,"uncaught":false,"x":80,"y":540,"wires":[["a44a1369.9f828","ad48c74e.f12238"]]},{"id":"a44a1369.9f828","type":"onesaitplatform api rest operation response","z":"7457100f.8a915","name":"Response","statusCode":"","headers":{},"x":240,"y":540,"wires":[]},{"id":"55ed59b5.459a58","type":"uuid","z":"5021ec85.8bc7a4","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"uuid","fieldType":"msg","x":150,"y":40,"wires":[["cb22ba75.3fee18"]]},{"id":"cb22ba75.3fee18","type":"subflow:89a8161c.de20c8","z":"5021ec85.8bc7a4","name":"","x":320,"y":40,"wires":[["81b462c1.48234"]]},{"id":"3803d54e.60efda","type":"function","z":"5021ec85.8bc7a4","name":"Prepare binary files insert","func":"var files = msg.req.files;\n\nif(files !== null && typeof files !== 'undefined'){\n    if(msg.fileCounter === null || typeof msg.fileCounter === 'undefined'){\n        msg.binaryFiles = [];\n        msg.fileCounter = 0;\n    }\n    \n    var fileName = files[msg.fileCounter].originalname;\n    var fileData = files[msg.fileCounter].buffer;\n    var mimetype = files[msg.fileCounter].mimetype;\n    msg.headers = {};\n    msg.headers = {\n        \"Authorization\":\"Bearer \"+msg.access_token,\n        \"Content-Type\": \"multipart/form-data\"\n    };\n\n    msg.payload = {\n        'file' : {\n            'value': fileData,\n            'options': {\n                'filename': fileName\n            }\n        }\n    };\n    \n    return [msg,null];\n}\nmsg.statusCode = 400;\nmsg.payload.error = \"No files were found in the request\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":190,"y":200,"wires":[["ec6ff43e.b15538"],[]]},{"id":"ec6ff43e.b15538","type":"http request","z":"5021ec85.8bc7a4","name":"UPLOAD Resource","method":"POST","ret":"txt","paytoqs":false,"url":"https://lab.onesaitplatform.com/controlpanel/binary-repository?repository=MONGO_GRIDFS","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":120,"wires":[["79e0a9e6.d17118"]]},{"id":"4f3f3137.57b56","type":"function","z":"5021ec85.8bc7a4","name":"Files to repo","func":"var url = \"https://lab.onesaitplatform.com/controlpanel/files/\"+msg.imageId;\nvar filename = msg.req.files[msg.fileCounter].originalname;\nvar fileType = msg.req.files[msg.fileCounter].fieldname;\nvar fileInfo = {\n    \"url\":url,\n    \"filename\":filename,\n    \"fileType\": fileType\n};\nmsg.binaryFiles.push(fileInfo);\nmsg.fileCounter+=1;\nif( msg.req.files.length == msg.fileCounter ){\n    //Loop ends, all files have been processed\n    msg.payload = {\n        \"Marketplace3DAsset\":{\n            \"id\": msg.uuid,\n            \"name\": msg.req.body.name,\n            \"description\":msg.req.body.description,\n            \"summary\":msg.req.body.summary,\n            \"parent\":msg.req.body.parent,\n            \"user\":msg.req.body.user,\n            \"file\":\"\",\n            \"images\":[]\n        }\n    };\n   \n    for(var f=0;f<msg.binaryFiles.length;f++){\n        if (msg.binaryFiles[f].fileType == \"asset\"){\n            msg.payload.Marketplace3DAsset.file = msg.binaryFiles[f].url;\n        } else {\n            msg.payload.Marketplace3DAsset.images.push(msg.binaryFiles[f].url);\n        }\n    }\n    return [msg,null];\n}\nreturn [null, msg];","outputs":2,"noerr":0,"x":930,"y":80,"wires":[["f63d06aa.e4e728"],["3803d54e.60efda"]]},{"id":"f63d06aa.e4e728","type":"onesaitplatform-insert","z":"5021ec85.8bc7a4","name":"Insert Asset","ontology":"Marketplace3DAsset","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":1150,"y":80,"wires":[[]]},{"id":"73d06b96.3030f4","type":"subflow:5021ec85.8bc7a4","z":"7457100f.8a915","name":"","env":[],"x":550,"y":280,"wires":[["4ed345dc.f93f1c"]]},{"id":"23a0c54d.78346a","type":"onesaitplatform api rest","z":"7457100f.8a915","name":"Market3d_ratings","description":"Market3d_ratings","public":false,"category":"ALL","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":320,"y":480,"wires":[["54934e0a.72fe7"]]},{"id":"54934e0a.72fe7","type":"onesaitplatform api rest operation","z":"7457100f.8a915","name":"InsertRating","description":"Insert a new rating for an Asset","url":"/3f64979b7a10e8/insert","apiUrl":"/insert","method":"post","upload":false,"queryParams":"","swaggerDoc":"","x":490,"y":520,"wires":[["b068b03f.30588"]]},{"id":"fb8bc919.7567d8","type":"onesaitplatform api rest operation response","z":"7457100f.8a915","name":"Response","statusCode":"","headers":{},"x":1080,"y":520,"wires":[]},{"id":"b068b03f.30588","type":"function","z":"7457100f.8a915","name":"Prepare insert","func":"msg.payload = {\n    \"Marketplace3DComments\":{\n        \"assetId\":msg.req.body.assetId,\n        \"rating\":msg.req.body.rating,\n        \"comment\":msg.req.body.comment,\n        \"user\":msg.req.body.user\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["d795ad39.164dd"]]},{"id":"d795ad39.164dd","type":"onesaitplatform-insert","z":"7457100f.8a915","name":"insert rating","ontology":"Marketplace3DComments","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":850,"y":520,"wires":[["fb8bc919.7567d8"]]},{"id":"d223f96b.eb8b48","type":"onesaitplatform-Rest-API-invoker","z":"7457100f.8a915","name":"","outputs":6,"restApiName":"Market3d_ratings","restApiVersion":"1","restApiOperationName":"InsertRating","restApiOperationMethod":"POST","restApiOperationsLoaded":"[{\"name\":\"InsertRating\",\"method\":\"POST\",\"path\":null,\"params\":[{\"name\":\"body\",\"type\":\"BODY\"}],\"returnMessagesresponseCodes\":{\"200\":\"OK\",\"204\":\"No Content\",\"400\":\"Bad Request\",\"401\":\"Unauthorized\",\"501\":\"Internal Server Error\",\"???\":\"Other status code\"}}]","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","operationInputs":[{"param":"body","value":"payload","type":"msg"}],"timeoutMillis":15000,"x":590,"y":1000,"wires":[["edf6e6bd.c45638"],["edf6e6bd.c45638"],["edf6e6bd.c45638"],["edf6e6bd.c45638"],["edf6e6bd.c45638"],["edf6e6bd.c45638"]]},{"id":"610c60ca.13608","type":"inject","z":"7457100f.8a915","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1000,"wires":[["d79380b6.faed8"]]},{"id":"edf6e6bd.c45638","type":"debug","z":"7457100f.8a915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1000,"wires":[]},{"id":"d79380b6.faed8","type":"function","z":"7457100f.8a915","name":"","func":"msg.payload={    \n        'assetId': '0e8b995e-4a7d-4b96-af6b-46ba9cf062ba',\n        'rating': 2,\n        'comment': 'this is not a great asset !',\n        'user': 'otroUser'    \n        \n    };\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["d223f96b.eb8b48"]]},{"id":"3a492e01.1e60e2","type":"function","z":"5021ec85.8bc7a4","name":"Prepare binary files insert","func":"var files = msg.req.files;\n\nif(files !== null && typeof files !== 'undefined'){\n    for (var i =0;i<files.length;i++){\n        if(files[msg.fileCounter].filename === \"asset\"){\n            var fileName = files[i].originalname;\n            var fileData = files[i].buffer;\n            var mimetype = files[i].mimetype;\n            \n            msg.headers = {\n                \"Authorization\":\"Bearer \"+msg.access_token,\n                \"Content-Type\": \"multipart/form-data; boundary=------------------------d74496d66958873e\"\n            }\n            \n            \n            msg.payload = '--------------------------d74496d66958873e\\r\\n'+\n            'Content-Disposition: form-data; name=\"select\"\\r\\n'+\n            '\\r\\n'+\n            'true\\r\\n'+\n            '--------------------------d74496d66958873e\\r\\n'+\n            'Content-Disposition: form-data; name=\"print\"\\r\\n'+\n            '\\r\\n'+\n            'true\\r\\n'+\n            '--------------------------d74496d66958873e\\r\\n'+\n            'Content-Disposition: form-data; name=\"file\"; filename=\"'+fileName+'\"\\r\\n'+\n            'Content-Type: '+mimetype+'\\r\\n'+\n            '\\r\\n'+\n            fileData+'\\r\\n'+\n            '--------------------------d74496d66958873e--\\r\\n';\n            \n            return [msg,null];\n        }\n    }\n    \n   \n}\nmsg.statusCode = 400;\nmsg.payload.error = \"No files were found in the request\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":270,"y":680,"wires":[["4dd83d40.b7f1e4"],[]]},{"id":"4dd83d40.b7f1e4","type":"http request","z":"5021ec85.8bc7a4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://lab.onesaitplatform.com/controlpanel/binary-repository?repository=MONGO_GRIDFS","tls":"","persist":false,"proxy":"","authType":"","x":523,"y":661,"wires":[["9522f9c5.d27fb8"]]},{"id":"9522f9c5.d27fb8","type":"function","z":"5021ec85.8bc7a4","name":"Files to repo","func":"var url = \"https://lab.onesaitplatform.com/controlpanel/binary-repository/\"+msg.payload;\n\n\nmsg.fileCounter+=1;\n\n    msg.payload = {\n        \"Marketplace3DAsset\":{\n            \"id\": msg.uuid,\n            \"name\": msg.req.body.name,\n            \"description\":msg.req.body.description,\n            \"summary\":msg.req.body.summary,\n            \"parent\":msg.req.body.parent,\n            \"user\":msg.req.body.user,\n            \"file\":url,\n            \"images\":[]\n        }\n    };\n   \n    for(var f=0;f<msg.req.files.length;f++){\n        if (msg.req.files[f].filename !== \"asset\"){\n            //Add base64\n            msg.payload.Marketplace3DAsset.images.push(msg.req.files[f].buffer.toString(\"base64\"));\n        }\n    }\n    return msg;\n","outputs":1,"noerr":0,"x":783,"y":761,"wires":[["a01034f2.352818"]]},{"id":"a01034f2.352818","type":"onesaitplatform-insert","z":"5021ec85.8bc7a4","name":"Insert Asset","ontology":"Marketplace3DAsset","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":903,"y":681,"wires":[[]]},{"id":"ba523d1f.0782f","type":"comment","z":"5021ec85.8bc7a4","name":"Posibilidad de base64 en la ontología","info":"","x":250,"y":580,"wires":[]},{"id":"f076cdd4.791b9","type":"function","z":"7457100f.8a915","name":"Prepare binary files insert","func":"var files = msg.req.files;\n\nif(files !== null && typeof files !== 'undefined'){\n    if(msg.fileCounter === null || typeof msg.fileCounter === 'undefined'){\n        msg.binaryFiles = [];\n        msg.fileCounter = 0;\n    }\n    \n    var fileName = files[msg.fileCounter].originalname;\n    var fileData = files[msg.fileCounter].buffer;\n    var mimetype = files[msg.fileCounter].mimetype;\n     msg.headers = {};\n    msg.headers = {\n        \"Authorization\":\"Bearer \"+msg.access_token,\n        \"Content-Type\": \"multipart/form-data\"\n    }\n\n    msg.payload = {\n        'file' : {\n            'value': fileData,\n            'options': {\n                'filename': fileName\n            }\n        }\n    };\n    \n    return [msg,null];\n}\nmsg.statusCode = 400;\nmsg.payload.error = \"No files were found in the request\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":310,"y":1620,"wires":[["291696c7.3b6faa"],[]]},{"id":"291696c7.3b6faa","type":"http request","z":"7457100f.8a915","name":"UPLOAD Resource","method":"POST","ret":"txt","paytoqs":false,"url":"https://lab.onesaitplatform.com/controlpanel/binary-repository?repository=MONGO_GRIDFS","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":1620,"wires":[["f91de609.a7c1e8","20b0ab7.d808254"]]},{"id":"606b4572.b67a6c","type":"function","z":"7457100f.8a915","name":"Files to repo","func":"\n\nvar url = \"https://lab.onesaitplatform.com/controlpanel/files/\"+msg.imageId;\nvar filename = msg.req.files[msg.fileCounter].originalname;\nvar fileType = msg.req.files[msg.fileCounter].fieldname;\nvar fileInfo = {\n    \"url\":url,\n    \"filename\":filename,\n    \"fileType\": fileType\n};\nmsg.binaryFiles.push(fileInfo);\nmsg.fileCounter+=1;\nif( msg.req.files.length == msg.fileCounter ){\n    //Loop ends, all files have been processed\n    msg.payload = {\n        \"Marketplace3DAsset\":{\n            \"id\": msg.uuid,\n            \"name\": msg.req.body.name,\n            \"description\":msg.req.body.description,\n            \"summary\":msg.req.body.summary,\n            \"parent\":msg.req.body.parent,\n            \"user\":msg.req.body.user,\n            \"file\":\"\",\n            \"images\":[]\n        }\n    };\n   \n    for(var f=0;f<msg.binaryFiles.length;f++){\n        if (msg.binaryFiles[f].fileType == \"asset\"){\n            msg.payload.Marketplace3DAsset.file = msg.binaryFiles[f].url;\n        } else {\n            msg.payload.Marketplace3DAsset.images.push(msg.binaryFiles[f].url);\n        }\n    }\n    return [msg,null];\n}\nreturn [null, msg];","outputs":2,"noerr":0,"x":1050,"y":1520,"wires":[["390d6ae1.a82e76"],["f076cdd4.791b9"]]},{"id":"390d6ae1.a82e76","type":"onesaitplatform-insert","z":"7457100f.8a915","name":"Insert Asset","ontology":"Marketplace3DAsset","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":1270,"y":1560,"wires":[[]]},{"id":"20b0ab7.d808254","type":"function","z":"7457100f.8a915","name":"Public image","func":"msg.imageId = msg.payload;\n msg.headers = {};\n msg.headers = {\n        \"Authorization\":\"Bearer \"+msg.access_token,\n        \"Content-Type\": \"application/json\",\n        \"Content-Length\":0,\n        \"Connection\":\"keep-alive\"\n    };\nmsg.url = \"https://lab.onesaitplatform.com/controlpanel/binary-repository/public?id=\"+msg.imageId;\n//msg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1520,"wires":[["ffc6fd89.8139b","ab09ff5b.fac51"]]},{"id":"ffc6fd89.8139b","type":"http request","z":"7457100f.8a915","name":"public","method":"POST","ret":"txt","paytoqs":false,"url":"https://lab.onesaitplatform.com/controlpanel/binary-repository/public?id={{{imageId}}}","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":1520,"wires":[["606b4572.b67a6c","f6ebdb4a.08ea98"]]},{"id":"f91de609.a7c1e8","type":"debug","z":"7457100f.8a915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":1620,"wires":[]},{"id":"ab09ff5b.fac51","type":"debug","z":"7457100f.8a915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":1400,"wires":[]},{"id":"f6ebdb4a.08ea98","type":"debug","z":"7457100f.8a915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":1380,"wires":[]},{"id":"308cabe.d277f54","type":"function","z":"7457100f.8a915","name":"","func":"msg.imageId='5f5647463b2b7f02902cf9bb';\nmsg.headers = {};\nmsg.headers = {\n    \"Authorization\":\"Bearer \"+msg.access_token\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1120,"wires":[["db24585d.b34258"]]},{"id":"db24585d.b34258","type":"http request","z":"7457100f.8a915","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://lab.onesaitplatform.com/controlpanel/binary-repository/public?id={{{imageId}}}","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":1100,"wires":[["edf6e6bd.c45638"]]},{"id":"bdc136cc.1dced8","type":"inject","z":"7457100f.8a915","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1120,"wires":[["370472a4.8b5a5e"]]},{"id":"370472a4.8b5a5e","type":"subflow:89a8161c.de20c8","z":"7457100f.8a915","name":"","env":[],"x":360,"y":1120,"wires":[["308cabe.d277f54"]]},{"id":"79e0a9e6.d17118","type":"function","z":"5021ec85.8bc7a4","name":"Public image","func":"msg.imageId = msg.payload;\n msg.headers = {};\n msg.headers = {\n        \"Authorization\":\"Bearer \"+msg.access_token\n    };\n//msg.url = \"https://lab.onesaitplatform.com/controlpanel/binary-repository/public?id=\"+msg.imageId;\n//msg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["310ce500.9f24bc","d0dc1d30.900c8"]]},{"id":"310ce500.9f24bc","type":"http request","z":"5021ec85.8bc7a4","name":"public","method":"POST","ret":"txt","paytoqs":false,"url":"https://lab.onesaitplatform.com/controlpanel/binary-repository/public?id={{{imageId}}}","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":40,"wires":[["4f3f3137.57b56"]]},{"id":"d0dc1d30.900c8","type":"debug","z":"5021ec85.8bc7a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":100,"wires":[]},{"id":"81b462c1.48234","type":"function","z":"5021ec85.8bc7a4","name":"Prepare binary files insert","func":"var files = msg.req.files;\n\nif(files !== null && typeof files !== 'undefined'){\n    if(msg.fileCounter === null || typeof msg.fileCounter === 'undefined'){\n        msg.binaryFiles = [];\n        msg.fileCounter = 0;\n    }\n    \n    var fileName = files[msg.fileCounter].originalname;\n    var fileData = files[msg.fileCounter].buffer;\n    var mimetype = files[msg.fileCounter].mimetype;\n     msg.headers = {};\n    msg.headers = {\n        \"Authorization\":\"Bearer \"+msg.access_token,\n        \"Content-Type\": \"multipart/form-data\"\n    }\n\n    msg.payload = {\n        'file' : {\n            'value': fileData,\n            'options': {\n                'filename': fileName\n            }\n        }\n    };\n    \n    return [msg,null];\n}\nmsg.statusCode = 400;\nmsg.payload.error = \"No files were found in the request\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":270,"y":460,"wires":[["92a2dd88.0272e"],[]]},{"id":"92a2dd88.0272e","type":"http request","z":"5021ec85.8bc7a4","name":"UPLOAD Resource","method":"POST","ret":"txt","paytoqs":false,"url":"https://lab.onesaitplatform.com/controlpanel/binary-repository?repository=MONGO_GRIDFS","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":460,"wires":[["784f72a1.4e2dec","1f52081e.279548"]]},{"id":"32e07644.baa0da","type":"function","z":"5021ec85.8bc7a4","name":"Files to repo","func":"\n\nvar url = \"https://lab.onesaitplatform.com/controlpanel/files/\"+msg.imageId;\nvar filename = msg.req.files[msg.fileCounter].originalname;\nvar fileType = msg.req.files[msg.fileCounter].fieldname;\nvar fileInfo = {\n    \"url\":url,\n    \"filename\":filename,\n    \"fileType\": fileType\n};\nmsg.binaryFiles.push(fileInfo);\nmsg.fileCounter+=1;\nif( msg.req.files.length == msg.fileCounter ){\n    //Loop ends, all files have been processed\n    msg.payload = {\n        \"Marketplace3DAsset\":{\n            \"id\": msg.uuid,\n            \"name\": msg.req.body.name,\n            \"description\":msg.req.body.description,\n            \"summary\":msg.req.body.summary,\n            \"parent\":msg.req.body.parent,\n            \"user\":msg.req.body.user,\n            \"file\":\"\",\n            \"images\":[]\n        }\n    };\n   \n    for(var f=0;f<msg.binaryFiles.length;f++){\n        if (msg.binaryFiles[f].fileType == \"asset\"){\n            msg.payload.Marketplace3DAsset.file = msg.binaryFiles[f].url;\n        } else {\n            msg.payload.Marketplace3DAsset.images.push(msg.binaryFiles[f].url);\n        }\n    }\n    return [msg,null];\n}\nreturn [null, msg];","outputs":2,"noerr":0,"x":1010,"y":360,"wires":[["23110507.84ecca"],["81b462c1.48234"]]},{"id":"23110507.84ecca","type":"onesaitplatform-insert","z":"5021ec85.8bc7a4","name":"Insert Asset","ontology":"Marketplace3DAsset","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":1230,"y":400,"wires":[[]]},{"id":"1f52081e.279548","type":"function","z":"5021ec85.8bc7a4","name":"Public image","func":"msg.imageId = msg.payload;\n msg.headers = {};\n msg.headers = {\n        \"Authorization\":\"Bearer \"+msg.access_token,\n        \"Content-Type\": \"application/json\",\n        \"Content-Length\":0,\n        \"Connection\":\"keep-alive\"\n    };\nmsg.url = \"https://lab.onesaitplatform.com/controlpanel/binary-repository/public?id=\"+msg.imageId;\n//msg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["377e5017.4308","357edaf5.6a40a6"]]},{"id":"377e5017.4308","type":"http request","z":"5021ec85.8bc7a4","name":"public","method":"POST","ret":"txt","paytoqs":false,"url":"https://lab.onesaitplatform.com/controlpanel/binary-repository/public?id={{{imageId}}}","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":360,"wires":[["32e07644.baa0da","e2849c.a5322b68"]]},{"id":"784f72a1.4e2dec","type":"debug","z":"5021ec85.8bc7a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":460,"wires":[]},{"id":"357edaf5.6a40a6","type":"debug","z":"5021ec85.8bc7a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":240,"wires":[]},{"id":"e2849c.a5322b68","type":"debug","z":"5021ec85.8bc7a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":220,"wires":[]},{"id":"c7b669e4.8ca418","type":"function","z":"7457100f.8a915","name":"Prepare query","func":"msg.ontology = 'Marketplace3DAsset';\nmsg.queryType='SQL'\n\nvar limit = msg.req.query.limit;\nvar skip = msg.req.query.skip;\nvar parent = msg.req.query.parent;\n//msg.query='db.Marketplace3DAsset.find({},{\"Marketplace3DAsset.id\":1,\"Marketplace3DAsset.description\":1,\"Marketplace3DAsset.name\":1,\"Marketplace3DAsset.user\":1}).skip('+skip+').limit('+limit+')';\nmsg.query='SELECT c.Marketplace3DAsset.id, c.Marketplace3DAsset.name, c.Marketplace3DAsset.description, c.Marketplace3DAsset.user, c.Marketplace3DAsset.images, avg(m.Marketplace3DComments.rating) as rating, count(m.Marketplace3DComments.comment) as numComments  FROM Marketplace3DAsset as c LEFT OUTER JOIN Marketplace3DComments AS m ON m.Marketplace3DComments.assetId=c.Marketplace3DAsset.id where c.Marketplace3DAsset.parent=\"'+parent+'\" GROUP BY  c.Marketplace3DAsset.id, c.Marketplace3DAsset.name, c.Marketplace3DAsset.description, c.Marketplace3DAsset.user order by c.Marketplace3DAsset.id OFFSET '+skip+' limit '+limit;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["2fa15dd2.bc0502"]]},{"id":"2fa15dd2.bc0502","type":"onesaitplatform-query-dynamic","z":"7457100f.8a915","name":"Select list","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":680,"y":360,"wires":[["a9661883.394b48"]]},{"id":"a9661883.394b48","type":"function","z":"7457100f.8a915","name":"Process result","func":"var result = JSON.parse(msg.payload);\n\nfor(var i =0;i<result.length;i++){\n    if(result[i].rating===null){\n      result[i].numComments=0;  \n    } \n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":360,"wires":[["98a0483d.35fbf8"]]},{"id":"98a0483d.35fbf8","type":"onesaitplatform api rest operation response","z":"7457100f.8a915","name":"Response","statusCode":"","headers":{},"x":1000,"y":360,"wires":[]},{"id":"a31ec926.0de3e8","type":"onesaitplatform-Rest-API-invoker","z":"7457100f.8a915","name":"GetAllAssets_Pag","outputs":6,"restApiName":"Market3D_asset","restApiVersion":"1","restApiOperationName":"GetAllChildren","restApiOperationMethod":"GET","restApiOperationsLoaded":"[{\"name\":\"insert\",\"method\":\"POST\",\"path\":null,\"params\":[{\"name\":\"body\",\"type\":\"BODY\"}],\"returnMessagesresponseCodes\":{\"200\":\"OK\",\"204\":\"No Content\",\"400\":\"Bad Request\",\"401\":\"Unauthorized\",\"501\":\"Internal Server Error\",\"???\":\"Other status code\"}},{\"name\":\"GetAll\",\"method\":\"GET\",\"path\":null,\"params\":[{\"name\":\"limit\",\"type\":\"QUERY\"},{\"name\":\"skip\",\"type\":\"QUERY\"}],\"returnMessagesresponseCodes\":{\"200\":\"OK\",\"204\":\"No Content\",\"400\":\"Bad Request\",\"401\":\"Unauthorized\",\"501\":\"Internal Server Error\",\"???\":\"Other status code\"}},{\"name\":\"GetById\",\"method\":\"GET\",\"path\":null,\"params\":[{\"name\":\"id\",\"type\":\"PATH\"}],\"returnMessagesresponseCodes\":{\"200\":\"OK\",\"204\":\"No Content\",\"400\":\"Bad Request\",\"401\":\"Unauthorized\",\"501\":\"Internal Server Error\",\"???\":\"Other status code\"}},{\"name\":\"GetAllChildren\",\"method\":\"GET\",\"path\":null,\"params\":[{\"name\":\"parent\",\"type\":\"QUERY\"},{\"name\":\"skip\",\"type\":\"QUERY\"},{\"name\":\"limit\",\"type\":\"QUERY\"}],\"returnMessagesresponseCodes\":{\"200\":\"OK\",\"204\":\"No Content\",\"400\":\"Bad Request\",\"401\":\"Unauthorized\",\"501\":\"Internal Server Error\",\"???\":\"Other status code\"}}]","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","operationInputs":[{"param":"parent","value":"5f50c1167de85a2c1c60efdb","type":"str"},{"param":"skip","value":"0","type":"str"},{"param":"limit","value":"12","type":"str"}],"timeoutMillis":15000,"x":790,"y":640,"wires":[["ff4085c0.9c23f8"],["ff4085c0.9c23f8"],["ff4085c0.9c23f8"],["ff4085c0.9c23f8"],["ff4085c0.9c23f8"],["ff4085c0.9c23f8"]]},{"id":"bc13f10f.9ec7d","type":"inject","z":"7457100f.8a915","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":640,"wires":[["a31ec926.0de3e8"]]},{"id":"ff4085c0.9c23f8","type":"debug","z":"7457100f.8a915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1160,"y":640,"wires":[]},{"id":"55c08c2d.d1f254","type":"onesaitplatform api rest operation","z":"7457100f.8a915","name":"GetChildren","description":"GetChildren","url":"/3d748fb293c59/getChildren","apiUrl":"/getChildren","method":"get","upload":false,"queryParams":"{\"skip\":\"Number\",\"limit\":\"Number\",\"parent\":\"string\"}","swaggerDoc":"","x":170,"y":360,"wires":[["c7b669e4.8ca418"]]},{"id":"b3cfc832.eb5948","type":"inject","z":"7457100f.8a915","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1260,"wires":[["18cb7063.30f98"]]},{"id":"9a204ef8.c4d34","type":"debug","z":"7457100f.8a915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1240,"wires":[]},{"id":"18cb7063.30f98","type":"onesaitplatform-query-static","z":"7457100f.8a915","name":"DELETE ALL comments","ontology":"Marketplace3DComments","targetDB":"","queryType":"sql","query":"delete from Marketplace3DComments","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":530,"y":1260,"wires":[["9a204ef8.c4d34"]]},{"id":"99e2b036.79bd","type":"inject","z":"7457100f.8a915","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1320,"wires":[["89ebb956.0b82c8"]]},{"id":"fe4902fe.c2bb3","type":"debug","z":"7457100f.8a915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":1300,"wires":[]},{"id":"89ebb956.0b82c8","type":"onesaitplatform-query-static","z":"7457100f.8a915","name":"DELETE ALL assets","ontology":"Marketplace3DAsset","targetDB":"","queryType":"sql","query":"delete from Marketplace3DAsset","authentication":"cnR2YWNoZXQ6Uk5hSURTRisxSTdDcXk3NU9VQjh2eUlQWkVoMklOSXY0M2k1RXJPMUVBOD06b25lc2FpdHBsYXRmb3JtX2NvbmZpZw==","x":520,"y":1320,"wires":[["fe4902fe.c2bb3"]]}]